
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 700;
	src: url('./nanumgothic/NanumGothic-Regular.eot'), url('./nanumgothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), url('./nanumgothic/NanumGothic-Regular.woff') format('woff'), / url('./nanumgothic/NanumGothic-Regular.ttf') format('truetype'), url('./nanumgothic/NanumGothic-Regular.oft') format('embedded-opentype'), url('./nanumgothic/NanumGothic-Regular.svg#svgNanumGothic') format('svg');
}

@font-face {
	font-family: 'nanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src: url('./nanumbarungothic/NanumBarunGothicWeb.eot'), url('./nanumbarungothic/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('./nanumbarungothic/NanumBarunGothicWeb.woff') format('woff'), / url('./nanumbarungothic/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
	font-family: 'Spoca Han Sans';
	font-style: normal;
	font-weight: 700;
	src: url('./spoqa_han_sans/Spoqa Han Sans Regular.woff') format('woff'), / url('./spoqa_han_sans/Spoqa Han Sans Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Font Awesome 5 Pro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url("./font-awesome/5.12.0/fa-regular-400.eot");
	src: url("./font-awesome/5.12.0/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("./font-awesome/5.12.0/fa-regular-400.woff2") format("woff2"), url("./font-awesome/5.12.0/fa-regular-400.woff") format("woff"), url("./font-awesome/5.12.0/fa-regular-400.ttf") format("truetype"), url("./font-awesome/5.12.0/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
	font-family: 'Font Awesome 5 Pro';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url("./font-awesome/5.12.0/fa-light-300.eot");
	src: url("./font-awesome/5.12.0/fa-light-300.eot?#iefix") format("embedded-opentype"), url("./font-awesome/5.12.0/fa-light-300.woff2") format("woff2"), url("./font-awesome/5.12.0/fa-light-300.woff") format("woff"), url("./font-awesome/5.12.0/fa-light-300.ttf") format("truetype"), url("./font-awesome/5.12.0/fa-light-300.svg#fontawesome") format("svg");
}

@font-face {
	font-family: 'Font Awesome 5 Pro';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("./font-awesome/5.12.0/fa-solid-900.eot");
	src: url("./font-awesome/5.12.0/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("./font-awesome/5.12.0/fa-solid-900.woff2") format("woff2"), url("./font-awesome/5.12.0/fa-solid-900.woff") format("woff"), url("./font-awesome/5.12.0/fa-solid-900.ttf") format("truetype"), url("./font-awesome/5.12.0/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Roboto'), local('Roboto-Regular'), url('./roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('./roboto/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('./roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('./roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
